# <h1 style = "font-size: 3rem; color:darkviolet;">Determine Flower Species Name Based on Sepal Length, Sepal Width, Petal Length and Petal Width.</h>

1. Segregate Features and classes
2. Split data into train and test
3. Train the RandomForestClassifier and LogisticRegression
4. Compare the accuracy of each model
5. Show by running interface for features to determine flower species

# 0. Importing Modules and Dataset

In [14]:
import pandas as pd
import os

In [15]:
# data loading and display first 5 rows

df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# 1. Segregate Features and Classes

## 1.1 Features available in dataset

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [17]:
# deleting a column ID

df = df.drop(columns = ['Id'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## 1.2 Classes in dataset

In [18]:
# count of each type

df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

# 2. Split Sata into Train and Test

In [57]:
#lebel Encoder
 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Species'] = le.fit_transform(df['Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

## 2.2 Splitting Data into Tarin (85%) and Test (15%)

In [70]:
from sklearn.model_selection import train_test_split

X = df.drop(columns = 'Species')
Y = df['Species']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.15)

# 3. Train the RandomForestClassifier and LogisticRegression

## 3.1 RandomForestClassifier

In [71]:
from sklearn.ensemble import RandomForestClassifier

model1 = RandomForestClassifier()

model1.fit(x_train, y_train)

RandomForestClassifier()

In [72]:
ARF = model1.score(x_test, y_test)*100

print("Accuracy of RandomForestClassifier is ", ARF)

Accuracy of RandomForestClassifier is  91.30434782608695

## 3.2 LogisticRegression

In [73]:
from sklearn.linear_model import LogisticRegression

model2 = LogisticRegression()

model2.fit(x_train, y_train)

LogisticRegression()

In [74]:
ALR = model2.score(x_test, y_test)*100

print("Accuracy of LogisticRegrassion is ", ALR)

Accuracy of LogisticRegrassion is  100.0

# 4. Compare the accuracy of each model

In [75]:
print(f"The accuracy of RandomForestClassifier is {ARF} and LogisticRegression is {ALR}")

The accuracy of RandomForestClassifier is 91.30434782608695 and LogisticRegression is 100.0

In [96]:
if(ARF > ALR):
    print("LogisticRegrassion has better accuracy than RandomForestCLassifier!")
elif(ALR > ARF):
    print("RandomForestClassifier has better accuraccy than LogisticRegression!")
else:
    print("Both the Model has same accuracy! ")

RandomForestClassifier has better accuraccy than LogisticRegression!

# 5. Show by running interface for features to determine flower species